* {
    padding: 2px;
    font-family: 'sans-serif';
}

/** Header **/

.header {
    font-family: 'Dancing Script', 'sans-serif';
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/** Nav bar **/

.nav-link {
    color: black;
}

.nav-link:hover,
.nav-link[aria-current="page"]{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

/** footer **/
footer {
    height: 150px;
}

.social-networks {
    text-align: center;   
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/** Blog enterenc **/

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

/** Links **/
a {
    color: #000000;
    text-decoration: none;
}

a:hover,
a:active {
    color: gray;
    text-decoration: underline;
}