* {
    padding: 2px;
}

p {
    font-family: 'Alice', serif;
}

h1, h2, h3 {
    font-family: 'Playball', cursive;
}

body{
    background: url(https://lh3.googleusercontent.com/pw/AJFCJaXpS3p1glDy-Yo_dqk3bPFFy2hQu8lpdfrLSxJyYQya43xByrTmP4_SxU_HjsjNQPdH2P9ztLHNfM_BVZB3mmVOMTG6UE7MTW_R8FYVCjG6Vuu88jLFfEqcUV2WSkwQ3wDK_SRdHXADS2wzp2Mmme87zQ=w1080-h1080-s-no?authuser=0) no-repeat bottom right fixed;
}

.text-style {
    padding: 1vh;
    padding-left: 3vh;
}

/** Header **/

.header {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/** Logo **/

.logo {
   background-image: url(https://lh3.googleusercontent.com/pw/AJFCJaU2807aP0Mx32lsEjXzgXWmS9n4VJcfnam9Q76z01eFH7HLXGzgqLjJlHcDc7N6h0nl4sxWnb0wP23Fsp1qp2aTjEIt0k47mdLxe1qcdp1XRiNjGasWatrLb2rX-S5yhzRBwHFNRuSz_34zlYqj3-MSVQ=w3720-h1860-s-no?authuser=0);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   height: 10vh;
}

.logo-link {
    margin: 0;
    padding: 0;
}

.logo-bg {
    background-color:  #edf3f1;

}

.line {
    display: inline-block;
}

.extra-bg {
    background-color:  #edf3f1;
}

/* Media query for screens smaller than 980px */
@media (max-width: 980px) {
    .extra-bg {
        height: 5px;
    }
  }

/** Nav bar **/

.justify-content-end {
    margin: 0;
    padding: 0;
}

.nav-bg {
    background-color:  #edf3f1;
    margin-top: 2px;
    width: 100%;
}

.right {
    float: right;
  }

.nav-link {
    color: black;
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
}

.nav-link1 {
    color: black;
}

.nav-link1:hover,
.nav-link1[aria-current="page"]{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.nav-link:hover,
.nav-link[aria-current="page"]{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.bold:hover,
.bold {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/** footer **/
footer {
    background-color: rgba(237, 243, 241, 0.8);
    min-height: 120px;
    margin: 0;
}



.social-networks {
    text-align: center;   
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.COPYRIGHT {
    padding-top: 5vh;
}

.contact {
    background-color: #3a3a3a;
    color: white;
}

.white{
    color: white;
}

/** Blog enterenc **/

.card {
    border: none;
    background-color: transparent;
}

.row-bg {
    background-color: rgba(252, 136, 136, 0.4);
    overflow: hidden;
    margin: 2px;
}

.image-container {
    position: relative;
}

/** Links **/
a {
    color: #000000;
    text-decoration: none;
}

a:hover,
a:active {
    color: #000000;
    text-decoration: none;
}

/** Poste image **/

.card-img-top {
    max-height: 250px;
}

/** Jumbotron **/
.jumbotron-bg {
    background: url(https://lh3.googleusercontent.com/pw/AJFCJaUWTG88HLgpuaKv_pEtOOWPCvy5a6PD8fdTRWqKa5Trfa0bdPXMUCPpFQQI_k4pumr91-NqNi58qYKH2ZPA4QhcdXoOK5q49JPzKvON9W7VZoADpMztV3x0jDZ2Y7uwdwJsLgZ96IleUGz4SsoPEqeRmg=w1440-h1440-s-no?authuser=0) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn-color {
    border-radius: 40%;
    background: linear-gradient(45deg, rgb(9, 255, 0), #0ff, #f0f);
    color: #000000;
    font-size: 30px;
}

.btn-color:hover {
    border-radius: 40%;
    text-decoration: none;
    color: #000000;
    padding: 15px 30px;
}

.bg {
    padding: 0;
    border: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

/** Post details **/

.h1-bg {
    background-color:  #edf3f1;
    margin-top: 2px;
}

.comments-bg {
    background-color: rgba(136, 144, 252, 0.4);
    overflow: hidden;
    margin: 2px;
}

.max-high {
    max-height: 300px;
}

.margin-top {
    margin-top: 2vh;
}

.margin-bottom {
    margin-bottom: 2vh;
}

/** Login/reg **/

.login-bg {
    background-color: rgba(252, 136, 136, 0.4);
    height: 50vh;
    padding: 3vh;
}

  /* Media query for screens smaller than 500px */
  @media (max-width: 500px) {
    .login-bg  {
        height: 120vh;
    }
  }

  /* Media query for screens smaller than 1000px */
  @media (max-width: 1000px) {
    .login-bg  {
        height: 75vh;
    }
  }

  /* Media query for screens smaller than 1180px */
  @media (max-width: 1180px) {
    .login-bg  {
        height: 60vh;
    }
  }

/** like btn **/

.no_click {
    display: none;
}
  
.click {
    display: inherit;
    background-color: #edf3f1;
}

.like {
    font-size: x-large;
    color: #0026ff;
    border: none;
    background: transparent;
}

.like:hover,
.like:active {
    font-size: x-large;
    color: #0026ff;
    background: transparent;
    border: none;
}

/** Gallery **/

.max-height {
    height: 25vh;
    overflow: hidden;
}

.card-height {
    height: 30vh;
}

.image {
    max-height: 50vh;
    width: auto;
    object-fit: scale-down;
}

/** About us **/

.bg1 {
    background-color: rgba(252, 136, 136, 0.7);
    overflow: hidden;
}

.aboutus-text {
    font-weight: bold;
}


/** Contact us **/

.margin {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/* Media query for screens smaller than 500px */
@media (max-width: 500px) {
    .s-font {
        font-size: 13px;
    }
  }

/** Alert **/

.alert {
    display: none;
}

/** BookingForm / prices **/

/* Media query for screens smaller than 1400px */
@media (max-width: 1400px) {
    .smal {
        font-size: 10px;
    }
  }

  /* Media query for screens smaller than 800px */
@media (max-width: 300px) {
    .smal {
        font-size: 8px;
    }
  }

.extras {
    margin-left: 2vh;
}

.additional-info {
    margin-right: 2vh;
}

/** Submitted Parties **/

.bg_approved {
    background-color: rgba(93, 248, 3, 0.7);
    overflow: hidden;
}

.bg_pending {
    background-color: rgba(253, 244, 116, 0.7);
    overflow: hidden;
}