* {
    padding: 2px;
    font-family: 'sans-serif';
}

body{
    background: url(https://lh3.googleusercontent.com/pw/AMWts8BCAVOSoi5re3_gWM9fW7Ij_cEwe7zGeKv82Tq9YcfIlcu-PQRYxSKyJu2rYPBPReGcJY5PQdy30V0VpS3I3_hmZMKdMFhFzwky9dJ7rpkYiwirNAsqizd5cMA-hiOpdXtGwqEQkH_jReZEGA9-xrTQpw=s1080-no?authuser=0) no-repeat bottom right fixed;
}

.text-style {
    padding: 1vh;
    padding-left: 3vh;
}

/** Header **/

.header {
    font-family: 'Dancing Script', 'sans-serif';
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2 {
    font-family: 'Dancing Script', 'sans-serif';
}

/** Nav bar **/
.nav-link {
    color: black;
}

.nav-link1 {
    color: black;
}

.nav-link1:hover,
.nav-link1[aria-current="page"]{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.nav-link:hover,
.nav-link[aria-current="page"]{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.bold:hover,
.bold {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/** footer **/
footer {
    height: 150px;
}

.social-networks {
    text-align: center;   
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/** Blog enterenc **/

.card {
    border: none;
    background-color: transparent;
}

.row-bg {
    background-color: rgba(252, 136, 136, 0.4);
    overflow: hidden;
    margin: 2px;
}

.image-container {
    position: relative;
}

/** Links **/
a {
    color: #000000;
    text-decoration: none;
}

a:hover,
a:active {
    color: #000000;
    text-decoration: none;
}

/** Poste image **/

.card-img-top {
    max-height: 250px;
}



/** Jumbotron **/
.jumbotron-bg {
    background: url(https://lh3.googleusercontent.com/pw/AMWts8DnX9QXFn6qlryaWRe_ezAyHr049c909EQfS_1zXUvLIA-PH0h74MAKI4HTOCQSVoOpApPc-4nbqMSYdog9NtuHgQ5a6DSLkA2p-XBBm0myPbMkiXnwUjuBPbPJqYzFoxVlWfG9k5AapjY_xF-ypSm4Og=w2595-h1946-no?authuser=0) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
}

.btn-color {
    border-radius: 10%;
    background-color: blue;
    font-size: 30px;
}

.btn-color:hover {
    border: none;
    background-color: green;
    font-size: 50px;
    text-decoration: none;
}

.bg {
    padding: 0;
    border: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

/** Post details **/

.comments-bg {
    background-color: rgba(136, 144, 252, 0.4);
    overflow: hidden;
    margin: 2px;
}

.card-text {
    font-family: Arial;
}

.max-high {
    max-height: 300px;
}

.margin-top {
    margin-top: 2vh;
}

/** Login/reg **/

.login-bg {
    background-color: rgba(252, 136, 136, 0.4);
    height: 50vh;
    padding: 3vh;
}

/** like btn **/

.like {
    font-size: x-large;
    color: #0026ff;
    border: none;
    background: transparent;
}

.like:hover,
.like:active {
    font-size: x-large;
    color: #0026ff;
    background: transparent;
    border: none;
}

/** Gallery **/

.max-height {
    height: 25vh;
    overflow: hidden;
}

.card-height {
    height: 30vh;
}

.image {
    max-height: 50vh;
    width: auto;
    object-fit: scale-down;
}

/** About us **/

.bg1 {
    background-color: rgba(252, 136, 136, 0.7);
    overflow: hidden;
}

.aboutus-text {
    font-weight: bold;
}


/** Contact us **/

.margin {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/** Alert **/

.alert {
    display: none;
}

/** BookingForm **/

.extras {
    margin-left: 2vh;
}

.additional-info {
    margin-right: 2vh;
}

/** Submitted Parties **/

.bg_approved {
    background-color: rgba(93, 248, 3, 0.7);
    overflow: hidden;
}

.bg_pending {
    background-color: rgba(253, 244, 116, 0.7);
    overflow: hidden;
}