{% extends "base.html" %}

{% block content %}

<div class="container bg1 border border-2">
    <h1>About Magical TeePee Parties:</h1>
    <p class="aboutus-text">
        Magical TeePee Parties is a party rental company that provides unforgettable and magical experiences for children's sleepovers, birthday parties, and other events. The company was founded during the COVID-19 pandemic, with the mission of bringing joy, fun, and happiness to families during difficult times.
    </p>
</div>
<div class="container bg1 border border-2">
    <h2><i class="fa-solid fa-gifts"></i> Our Mission:</h2>
    <p class="aboutus-text">
        At Magical TeePee Parties, our mission is to create magical experiences that will be cherished by children and families for a lifetime. We aim to provide a unique and stress-free party experience for parents, and a fun and exciting adventure for children.
    </p>
</div>
<div class="container bg1 border border-2">
    <h2><i class="fa-solid fa-bullseye"></i> Our Goals:</h2>
    <p class="aboutus-text">
        Our primary goal is to provide excellent service and ensure that every child has a memorable and magical experience. We strive to create an atmosphere of fun, creativity, and imagination, where children can let their imaginations run wild and create memories that will last a lifetime.
    </p>
</div>
<div class="container bg1 border border-2">
    <h2><i class="fa-solid fa-binoculars"></i> Our Vision:</h2>
    <p class="aboutus-text">
        Our vision is to become the leading provider of unique and magical party experiences for children in the community. We aim to expand our services to other regions and to continue innovating and improving to meet the needs and expectations of our customers.
    </p>
</div>
<div class="container bg1 border border-2">
    <p class="aboutus-text">
        In conclusion, at Magical TeePee Parties, we are committed to creating unforgettable and magical experiences for children and families. We are proud to have opened our doors during the pandemic and are dedicated to providing a safe and enjoyable party experience for our customers.
    </p>
</div>


{% endblock %}