{% extends "base.html" %}

{% block content %}
<!-- Price list -->
<div class="container bg1 border border-2 margin-bottom">
  <div class="row">
    <div class="col-md-6 border border-2">
      <h1 class="text-center">TeePee Prices</h1>
      <div class="row">
        <div class="col-md-6">
          <p>One TeePee</p>
          <p>Two TeePees</p>
          <p>Three TeePees</p>
          <p>Fore TeePees</p>
          <p>Five TeePees</p>
          <p>Six TeePees</p>
          <p>Seven TeePees</p>
        </div>
        <div class="col-md-6">
          <p>120 Eur</p>
          <p>120 Eur</p>
          <p>180 Eur</p>
          <p>240 Eur</p>
          <p>300 Eur</p>
          <p>360 Eur</p>
          <p>420 Eur</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 border border-2">
      <h1 class="text-center">Other Prices</h1>
      <div class="row">
        <div class="col-md-6">
          <p>Travel Expenses</p>
          <p>Bouncy castle</p>
          <p>Set of Helium balloons, Foil (CUPCAKES)</p>
          <p>Set of Helium balloons, Foil (DINOSAURS)</p>
        </div>
        <div class="col-md-6">
          <p>0.18 Eur. per KM</p>
          <p>50 Eur</p>
          <p>25 Eur</p>
          <p>30 Eur</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<!-- Book a party form -->
  <form class="container bg1 border border-2" method="post">
    <h1 class="text-center">Book a Party</h1>
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.party_theme.id_for_label }}">Party Theme:</label>
      {{ form.party_theme }}
    </div>
    <div class="border border-2">
      <p>We can offer you extras:</p>
      <label class="extras" for="{{ form.balloons.id_for_label }}">Balloons:</label>
      {{ form.balloons }}
      <label class="extras" for="{{ form.bouncy_castle.id_for_label }}">Bouncy Castle:</label>
      {{ form.bouncy_castle }}
    </div>
    <div>
      <label for="{{ form.kids_age.id_for_label }}">Kids Age:</label>
      {{ form.kids_age }}
    </div>
    <div>
      <label for="{{ form.number_of_teepees.id_for_label }}">Number of Teepees:</label>
      {{ form.number_of_teepees }}
    </div>
    <div>
      <label for="{{ form.street.id_for_label }}">Street:</label>
      {{ form.street }}
    </div>
    <div>
      <label for="{{ form.city.id_for_label }}">City:</label>
      {{ form.city }}
    </div>
    <div>
      <label for="{{ form.county.id_for_label }}">County:</label>
      {{ form.county }}
    </div>
    <div>
      <label for="{{ form.eircode.id_for_label }}">Eircode:</label>
      {{ form.eircode }}
    </div>
    <div>
      <label for="{{ form.date.id_for_label }}">Date:</label>
      <input type="date" name="date" value="{{ form.date.value|default:'' }}">
    </div>
    <div>
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}
    </div>
    <div>
      <label for="{{ form.phone_number.id_for_label }}">Contact number:</label>
      {{ form.phone_number }}
    </div>
    <div class="border border-2">
      <label class="float-start additional-info" for="{{ form.additional_info.id_for_label }}">Additional info:</label>
      {{ form.additional_info }}
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-primary btn-lg ">Submit</button>
    </div>
  </form>
  <a href="{% url 'submitted_parties' %}">
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button">Check your submitted parties</button>
    </div>
  </a>
{% else %}
  <p>If you want to book a party with us you will need to create an account with us. If you already have an account with us please sign in.</p>
{% endif %}

{% endblock %}
