{% extends "base.html" %}

{% block content %}

<!-- Gallery list -->
<h1 class="text-center bg1">Welcome to Magical TeePee Parties galleries</h1>
<div class="row">
  {% for gallery in post_galleries %}
    <div class="col-md-4">
      <a href="{% url 'see_gallery' slug=gallery.slug %}">
        <div class="card card-height border border-2 row-bg">
          <h2 class="text-center nav-link1">{{ gallery.title }}</h2>
          <div class="card max-height">
            <img src="{{ gallery.title_image.url }}" alt="{{ gallery.title }}">
          </div>
          <hr />
          <p class="text-muted">{{ gallery.created_on }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}