{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Welcome to Magical TeePee Parties galleries</h1>
<div class="row">
  {% for gallery in post_galleries %}
    <div class="col-md-4">
      <a href="{% url 'see_gallery' slug=gallery.slug %}">
        <div class="card border border-2 row-bg">
          <h2 class="text-center">{{ gallery.title }}</h2>
          <img src="{{ gallery.title_image.url }}" alt="{{ gallery.title }}">
          <hr />
          <p class="text-muted">{{ gallery.created_on }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}