{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<!-- Show specific post -->
<div class="row-bg">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <img class="max-high" src=" {{ post.featured_image.url }}" width="100%">
        </div>
        <div class="col-md-8">
            <h1>{{ post.title }}</h1>
            <p class="text-muted">{{ post.created_on }}</p>
        </div>
    </div>
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <p>
            {{ post.content | safe }}
        </p>
    </div>
    <div class="float-end" >
        <strong>
            {% if user.is_authenticated %}
            <form action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <p> Like 
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="like"><i class="fa-solid fa-thumbs-up"></i></button>
                </p>
                {% else %}
                <p> Like 
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="like"><i class="fa-regular fa-thumbs-up"></i></button>  
                </p>
                {% endif %}
            </form>
            {% else %}
            <p id="message" class="no_click">If you want to like this post you need to register!</p>
            <button id="like-btn" type="button" class="like"><i class="fa-regular fa-thumbs-up"></i></button>
            {% endif %}
            <span>Total likes:{{ total_likes }} </span>
        </strong>
    </div>
</div>

<!-- Comments -->
<h1 class="text-center h1-bg">
    Comments
</h1>

{% if comments|length == 0 %}
<div class="comments-bg text-center">
    <h3>You can be the first to leave a comment!</h3>
</div>
{% endif %}

{% for comment in comments %}

<div class="row container border border-2 comments-bg">
    <div class="col-md-12">
        <strong>{{ comment.name }}</strong>
        <p class="text-muted">
            {{ comment.created_on }}
        </p>
    </div>
    <hr />
    {{ comment.body | linebreaks }} 
</div>
{% endfor %}
<div class="container border border-2 comments-bg margin-top">
    <div>
        {% if commented %}
        <div>
            <h2>Your comment is awaiting approval</h2>
        </div>
        {% else %}
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form class="text-center text-muted" method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <h3 class="text-center">If you like to leave a comment, please register!</h3>
        {% endif %}
        {% endif %}
    </div>
</div>


{% endblock content %}