{% extends "base.html" %}

{% block content %}

<h1>Submitted Parties</h1>

<!-- Display submited paries -->
{% if parties %}
    {% for party in parties %}
      {% if party.approved %}
      <h2>This party is approved:</h2>
      <div class="row container h-100 d-flex justify-content-center align-items-center border border-2 bg_approved">
        <div class="col-md-12">
            <h2> Your chosen party theme is: {{ party.get_party_theme_display }}</h2>
            <p>Data: {{ party.date }}</p>
            <p>Price: {{ party.price }}</p>
            <p>You will have: {{ party.number_of_teepees }} teepees</p>

            <!-- Delite and Edit party -->
            <div class="row">
              <div class="col-md-6">
                <a class="btn btn-primary" href="{% url 'edit_party' party.id %}"><strong>Edit</strong></a>
              </div>
            </div>
        </div>
      </div>
      {% else %}
      <h2>This party is waiting for approval:</h2>
      <div class="row container h-100 d-flex justify-content-center align-items-center border border-2 bg_pending">
        <div class="col-md-12">
            <h2> Your chosen party theme is: {{ party.get_party_theme_display }}</h2>
            <p>Data: {{ party.date }}</p>
            <p>You will have: {{ party.number_of_teepees }} teepees</p>
            <!-- Delite and Edit party -->
            <div class="row">
              <div class="col-md-6">
                <a class="btn btn-primary" href="{% url 'edit_party' party.id %}"><strong>Edit</strong></a>
              </div>
              <div class="col-md-6">
                <!-- Delite party form -->
                <form action="{% url 'delete_party' party.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger float-md-end" onclick="return confirm('Are you sure you want to cancel this party?')">Cancel pary</button>
                </form>
              </div>
            </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
{% else %}
  <p>You have not submitted any parties.</p>
{% endif %}

{% endblock %}