{% extends "base.html" %}

{% block content %}

<h1>Submitted Parties</h1>

{% if parties %}
    {% for party in parties %}
      {% if party.approved %}
      <h2>These parties are approved:</h2>
      <div class="row container h-100 d-flex justify-content-center align-items-center border border-2 bg_approved">
        <div class="col-md-12">
            <h2> Your chosen party theme is: {{ party.get_party_theme_display }}</h2>
            <p>Data: {{ party.date }}</p>
            <p>Price: {{ party.price }}</p>
            <p>You will have: {{ party.number_of_teepees }} teepees</p>
        </div>
      </div>
      {% else %}
      <h2>These parties are waiting for approval:</h2>
      <div class="row container h-100 d-flex justify-content-center align-items-center border border-2 bg_pending">
        <div class="col-md-12">
            <h2> Your chosen party theme is: {{ party.get_party_theme_display }}</h2>
            <p>Data: {{ party.date }}</p>
            <p>You will have: {{ party.number_of_teepees }} teepees</p>
        </div>
      </div>
      {% endif %}
    {% endfor %}
{% else %}
  <p>You have not submitted any parties.</p>
{% endif %}

{% endblock %}